{% extends "base.html" %}

{% block body %}
<center>
    <div class="col-md-5">


        <!-- Material form contact -->
        <div class="card">

            <h5 class="card-header info-color white-text text-center py-4">
                <strong>{{title}}</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" method="POST" style="color: #757575;">
                    {% csrf_token %}
                    <div class="md-form mt-3">
                        {{ form.as_p }}
                    </div>

                    <!-- Register -->
                    <p>Not a member?
                        <a href="">Register</a>
                    </p>


                    <!-- Send button -->
                    <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                        type="submit">Send</button>

                </form>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form contact -->
    </div>


</center>
{% endblock body %}